<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgriEnergyConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/AgriEnergyConnect.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-bg-color border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand main_header" asp-area="" asp-controller="Home" asp-action="Index">AgriEnergyConnect<img src="~/images/compost_24dp_fill0_wght400_grad0_opsz24.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link main-title" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link main-title" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link main-title" asp-area="" asp-controller="Products" asp-action="Index">FARMER</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link main-title" asp-area="" asp-controller="Employee" asp-action="Index">EMPLOYEE</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (Context.Request.Path == "/")
    {
        <footer class="footer-index">
            <div class="container">
                &copy; 2024 - AgriEnergyConnect 
            </div>
        </footer>
    }
    else
    {
        <footer class="border-top footer">
            <div class="container">
                &copy; 2024 - AgriEnergyConnect
            </div>
        </footer>
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
