@{
    ViewData["Title"] = "Home Page";
}
<body class="index">

<div class="container">
    <div class="row grid-container justify-content-center align-items-center">
        <div class="col-md-6 grid-item image-container">
            <img src="~/images/agri-connect1.png" width="100%" height="80%" />
        </div>
        <div class="col-md-6 grid-item message-container">
            <div class="text-center">
                <h1 class="home-title">WELCOME TO AGRI-ENERGY CONNECT</h1>
                <h1 class="home-page">Cultivating Innovation,Harvesting Excellence.</h1>
            </div>
        </div>
    </div>
</div>
    <footer class="border-top footer-index">
        <div class="container">
            &copy; 2024 - AgriEnergyConnect
        </div>
    </footer>
</body>
